<phpunit 
	bootstrap="bootstrap.php"
	cacheResult="false"
	colors="true"
	verbose="true"
>
	<testsuites>
		<testsuite name="Tests">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>
	<php>
		<env name="APIKEY"  value="" />
		<env name="STATKEY" value="" />
		<env name="ADVKEY" value="" />
	</php>
</phpunit>
